SUPABASE_URL=https://fcbbquvuffpmudvwqgbg.supabase.co
SUPABASE_ANON_KEY=sb_publishable_T-vz8QfJf_BB6XiHDavtLg_KyQvhjOF
LEMON_WEBHOOK_SECRET=67caa91576d4cb61a354b46257d7d8675d62614b85fc22f524308240146bf455
IMGBB_API_KEY=6d7ef48cb26db3e0279b772ff3efeed5
RESEND_API_KEY=re_aLErNGk3_Sf1hj7DVybHsNXPPgmbpQ47L
VAPID_PUBLIC_KEY=BMNw_CvifvPTl5K4BO9Re0kCixw6HUqbkrgO2XRatqrDuEzuko2evKp9zamwkBOgq02xOvAWMUWcHWWTPRXFOAQ