# Variables de entorno — NUNCA subir esto a GitHub
.env
.env.local
.env.production

# Node modules
node_modules/

# Netlify cache
.netlify/

# Sistema operativo
.DS_Store
Thumbs.db

#info de las apis y del sistema
inf_sistema.txt